@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Webber</PageTitle>

<button @onclick="NavigateToRomanComponent">
    Go To Roman
</button>

<button @onclick="NavigateToCaelanComponent">
    Go To Caelan
</button>

@code {
    private void NavigateToRomanComponent()
    {
        NavigationManager.NavigateTo("/roman");
    }

    private void NavigateToCaelanComponent()
    {
        NavigationManager.NavigateTo("/caelan");
    }
}