@using Microsoft.AspNetCore.SignalR.Client
@using Webber.Client.Models;

@inherits BlockPanelBase<HwInfoBlockDto>

<div class="HwInfoBlockPanel">
    <BlockPanelContainer IsConnected=@IsConnected ValidUntilUtc=@LastUpdate?.ValidUntilUtc>
        @if (LastUpdate != null)
        {
            @foreach(var x in LastUpdate.CpuCoreHeatmap)
            {
                <div>@x</div>   
            }
    @*        <div style="float: right">@(LastUpdate.Last?.ToString("#,0") ?? "∞") ms</div>
            <div>Ping</div>*@
        }
    </BlockPanelContainer>
</div>
