div.WeatherBlockPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 37vw;
    height: 26vw;
}

div.TimeBlockPanel {
    position: absolute;
    top: 0;
    left: 39vw;
    width: 25vw;
    height: 26vw;
    user-select: none;
    cursor: pointer;
}

div.PingBlockPanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 34vw;
    height: 26vw;
}

div.RouterBlockPanel {
    position: absolute;
    top: 28vw;
    bottom: 0;
    left: 47vw;
    right: 0;
}

div.TimeUntilBlockPanel {
    position: absolute;
    top: 28vw;
    bottom: 0;
    left: 0;
    width: 45vw;
}

div.ControlsOverlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(37, 39, 49, 0.87);
    display: grid;
    align-items: center;
    justify-items: center;
}
