div.WeatherBlockPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 37vw;
    height: 26vw;
}

div.TimeBlockPanel {
    position: absolute;
    top: 0;
    left: 39vw;
    width: 22vw;
    height: 26vw;
}

div.PingBlockPanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 37vw;
    height: 26vw;
}
