<div class="BlockPanelContainer @cssClassValidity">
    @*<div class="JustUpdated"></div>*@
    @if (!IsConnected)
    {
        <div class="Disconnected"></div>
    }
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter, EditorRequired]
    public bool IsConnected { get; set; }

    [Parameter, EditorRequired]
    public DateTime? ValidUntilUtc { get; set; }

    private string cssClassValidity => ValidUntilUtc == null || DateTime.UtcNow < ValidUntilUtc ? "" : "Invalid"; // it's only null until first update; don't start the block with red stripes - typically blocks render blank content anyway
}
