div.PingContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.RecentChart {
    padding: 0 0.5vw;
    border-bottom: 1px solid #999;
    flex: 1;
    min-height: 0;
}
