div.PingBlockPanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 37vw;
    height: 26vw;
}

div.PingContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.RecentChart {
    padding: 0 0.5vw;
    border-bottom: 1px solid #999;
    flex: 1;
}
