@using Webber.Client.Models

<BlockPanel TDto="PingBlockDto">
    <div class="PingContent">
        @if (context.LastUpdate != null)
        {
            <div>
                <div style="float: right">@(context.LastUpdate.Last?.ToString("#,0") ?? "∞") ms</div>
                <div>Ping</div>
            </div>
            <div class="RecentChart">
                <BarChart BarCount=@context.LastUpdate.Recent.Length Data=@context.LastUpdate.Recent.Select(GetPt) />
            </div>
        }
    </div>
</BlockPanel>

@code {
    private BarChart.Pt GetPt(int? value)
    {
        if (value == null /* missing data */ || value == -1 /* ping timeout */)
            return new BarChart.Pt { Value = 1.0, Color = value == null ? "#404040" : "#ff00ff" };
        return new BarChart.Pt
            {
                Value = BarChart.ScaleY(value.Value, 10, 2000, x => BarChart.ModifiedLog(x, 10)),
                Color = value > 200 ? "#ff0000" : value > 40 ? "#1985f3" : "#08b025",
            };
    }
}