@using Webber.Client.Models

<BlockPanel TDto="TimeBlockDto">
    @if (context.LastUpdate != null)
    {
        <div style="display: grid; grid-template-columns: 1fr min-content min-content 1fr; width: 100%; height: 100%;">
            <div style="grid-column-end: span 4; text-align: center; font-size: 200%; font-weight: bold; margin-bottom: 1vw;">@time2str(context.LastUpdate.LocalOffsetHours)</div>
            @foreach (var zone in context.LastUpdate.TimeZones)
            {
                <div></div>
                <div class="tzName">@zone.DisplayName</div>
                <div>@time2str(zone.OffsetHours)</div>
                <div></div>
            }
        </div>
    }
</BlockPanel>

@code {
    string time2str(double utcOffset) => DateTime.UtcNow.AddHours(utcOffset).ToString("HH':'mm");

    private System.Timers.Timer _refreshTimer = new System.Timers.Timer { AutoReset = true, Enabled = true, Interval = 500 };

    protected override void OnInitialized()
    {
        _refreshTimer.Elapsed += delegate { StateHasChanged(); };
        base.OnInitialized();
    }
}