@page "/caelan"

<PageTitle>Webber - Caelan</PageTitle>

<link rel="stylesheet" href="/css/caelan.css">

<div class="box">
    <section>
    </section>

    <section class="tr">
    </section>

    <section class="bl">
        <HwInfoBlockPanel />
    </section>

    <section class="br">
    </section>
</div>