@using Microsoft.AspNetCore.SignalR.Client
@using Webber.Client.Models;
@using ApexCharts;

@inherits BlockPanelBase<HwInfoBlockDto>

@if (LastUpdate != null)
{
    <div id="cpu-chart" class="w4h2">
        <ApexChart TItem="TimedMetric">
            <ApexSeries TItem="TimedMetric"
                    Items="LastUpdate.CpuTotalLoadHistory"
                    XValue="@((TimedMetric e) => e.TimeUtc)"
                    YAggregate="@((IEnumerable<TimedMetric> e) => e.Sum(e => e.Value))"
                     />
        </ApexChart>
    </div>

    <div class="cpu-heatmap w4h2 l1t3">
        @foreach (var x in LastUpdate.CpuCoreHeatmap)
        {
            <div class="cpu-block" style="background-color: rgba(0,149,255,@(x / 100))">@(Math.Floor(x))%</div>
        }
    </div>
}